/*left*/
.left{
	background-color: black;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
}

/*button*/
a.button{
	background: url(../img/Boton.png) no-repeat center center;
	height: 198px;
	width: 198px;
	position: absolute;
	bottom: 45%;
	left: 35%;
}

/*text*/
.interface.state1{
	color: white;
	text-align: center;
	padding: 5%;
	font-size: 30px;
}

.interface.state2{
	color: white;
	text-align: center;
	padding: 5%;
	font-size: x-large;
}

a.abort{
	color: red;
	font-weight: bold;
	text-decoration: none;
	font-size: 50px;
	background-color: white;
	border-radius: 50%;
	padding: 30px;
}

.interface.state3{
	color: white;
	text-align: center;
	padding: 5%;
	font-size: x-large;	
}

.interface.state4,
.interface.state5{
	color: white;
	text-align: center;
	padding: 5%;
	font-size: x-large;	
}

a.doagain{
	color: red;
	font-weight: bold;
	text-decoration: none;
	font-size: 50px;
	background-color: white;
	border-radius: 50%;
	padding: 30px;
}

a.tryagain{
	color: red;
	font-weight: bold;
	text-decoration: none;
	font-size: 50px;
	background-color: white;
	border-radius: 50%;
	padding: 30px;
}

/*right*/
.right{
	background-color: #010138;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
}

/*top background right*/
.bgr{
	background: url(../img/Fondod.gif) no-repeat center center;
	top: 0;
	left: 0;
	width: 724px;
	height: 200px;
}

.ground{
	background: url(../img/Plataforma.png) no-repeat center center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 724px;
	height: 388px;
}

.rocket{
	position: absolute;
	left: 345px;
	bottom: 20px;
	margin-left: 40px;
	width: 137px;
	height: 275px;
	background: url(../img/Cohete.png) no-repeat 0 0;
	transition: bottom 20s;
}

/* rocket bg image */
body.body-state2 .rocket{
	background-image: url(../img/Cohete2.gif);
}
body.body-state3 .rocket,
body.body-state4 .rocket{
	background-image: url(../img/Cohete3.gif);
}
body.body-state5 .rocket{
	background-image: url(../img/BOOM.png);
	width: 209px;
	height: 200px;
	margin-left: -10px;
	bottom: 35%;
}

/* function */
body.body-state1 .rocket{
	transition: 1s;
}

body.body-state3 .rocket,
body.body-state4 .rocket{
	bottom: 5000px;
}

.state1,
.state2,
.state3,
.state4,
.state5 {
	display: none;
}

body.body-state1 .state1{display: block;}
body.body-state2 .state2{display: block;}
body.body-state3 .state3{display: block;}
body.body-state4 .state4{display: block;}
body.body-state5 .state5{display: block;}
