body {
    background-color: #cdd2d8;
}

.cool{
	margin-left: 565px;
	text-align: center;
	visibility: hidden;
	width: 200px;
	height: 100px;
	padding-top: 50px;
	background-color: white;
	transition: background-color 5s;
}

.cool.red{
	visibility: visible;
	background-color: black;
}

.interface{
	color: black;
	text-align: center;
	padding: 10%;
	text-decoration: none;
}